@model List<MyPortfolioProjectNight.Models.Portfolio>
@{
    ViewBag.Title = "PortfolioList";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Portfolyo Listesi ve İşlemleri</h2>

<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        @*<th>Kategori</th>*@
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.PortfolioID</th>
            @*<td>@item.Category</td>*@
            <td>@item.PortfolioTitle</td>
            <td>@item.PortfolioSubTitle</td>
            <td>@item.PortfolioImageUrl</td>
            <td><a href="/Portfolio/UpdatePortfolio/@item.PortfolioID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Portfolio/DeletePortfolio/@item.PortfolioID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Portfolio/CreatePortfolio/" class="btn btn-info">Yeni Portfolyo Ekle</a>
